.sidebar{
    flex: 0.35;
    display: flex;
    flex-direction: column;
}

.sidebar__header{
    background-color: rgb(245, 245, 248);
    display: flex;
    justify-content: space-between;
    padding: 18px;
    border-right: 1px solid lightgray;
    align-items: center;
}
.sidebar__headerRight{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 10vw;
}
.sidebar_search{
    background-color: white;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}
.sidebar__searchContainer{
    display: flex;
    align-items: center;
    background-color: rgb(245, 245, 248);
    height: 30px;
    padding: 10px;
    border-radius: 20px;
}
.sidebar__searchContainer > input{
    border: none;
    margin-left: 10px;
    font-size: 17px;
    background-color: rgb(245, 245, 248);
}
.sidebar__searchContainer > input:focus{
    outline: none;
}
.sidebar__searchContainer > .MuiSvgIcon-root{
    color: gray;
    padding: 10px;
    font-size: 30px;
}

.sidebar__chatList{
    background-color: rgb(245, 245, 248);
    display: flex;
    flex-direction: column;
    background-color: greenyellow;
    padding: 10px;
    overflow: scroll;
}